:root{
    --color:rgb(5, 181, 5);
    --accent:rgb(86, 192, 86);
}

.mainContainer{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100vw;
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* left part */

.left{
    background-image: url(../img/left.jpg);
    background-position: center;
    background-size: cover;
    width: 40vw;
}
.leftLogo{
    height: auto;
    color: aliceblue;
    background-image: radial-gradient(rgba(0, 0, 0, 0.858),rgba(255, 255, 255, 0));
    position: relative;
    top: 20vh;
    gap: 1vh;
    padding: 15px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* right part */

.right{
    width: 60vw;
    background-color: rgba(88, 210, 88, 0.364);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.right>div{
    padding: 2.5rem 2.5rem;
}

.sectionOne{
    border: 1px solid var(--accent);
    border-radius: 4px;
    padding: 0;
    margin: 40px;
    box-shadow: 0px 10px 30px -4px rgb(0, 0, 0);
}

legend>p{
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border: 1px solid var(--accent);
    border-radius: 6px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
fieldset{
    border: 1px solid var(--accent);
    border-radius: 6px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    gap: 30px;
    box-shadow: 0px 10px 30px -4px rgb(0, 0, 0);
}
.input{
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    width: 40%;
    font-size: 0.7rem;
    font-weight: 900;
    gap: 4px;
}
input{
    background-color: aliceblue;
    outline: none;
    border: var(--accent);
    border-radius: 3px;
}

input:focus{
    outline: none;
    border: 2px solid var(--color);
}

button{
    background-color: rgba(0, 0, 0, 0);
    color: var(--color);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid var(--color);
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
}
button:hover{
    background-color: var(--color);
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color: var(--color);
    font-weight: 700;
}

a:hover{
    color: white;
}