
:root{
    border: 1px solid black;
}

body{
    display: grid;
    grid-template-columns: 30vw 60vw;
}
.left{
    height: 100vmin;
    background-image: url(../img/left.jpg);
    background-size: cover;
}